///////////////////////////////////////////////////////
//Archetype Core + Archetype Sub-Module Dependencies //
///////////////////////////////////////////////////////
@import "archetype";
@import "archetype/grid";
@import "archetype/theme";

/////////////
//Partials //
/////////////
@import "partials/colors";
@import "partials/layout";
@import "partials/fonts";

///////////////
//Components //
///////////////
@import "components/nav";
@import "components/header";
@import "components/content";
@import "components/footer";

html {
  height: 100%;
}

body {
  @include styleguide(large copy);
  height: 100%;
  background: $brand-neutral;
  font-family: 'Roboto', sans-serif;
}

#body {
  overflow: hidden;
}
