$brand-blue: #00698c;
$brand-graphite: #323232;
$brand-light-graphite: #7f7f7f;
$brand-neutral: #dddddd;
$brand-light: #eee;

$shadow-light: #939393;
$shadow-dark: #343434;

///////////
//Mixins //
///////////
@mixin even-shadow($color, $size) {
  box-shadow: $color 0 0 $size;
}

@mixin interior-shadow($color, $size) {
  box-shadow: inset 0 0 $size $color;
}
