%hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

$nav-columns: 6;
$content-columns: 18;

$nav-width: 205px;
$tagline-width: 796px;

$nav-mobile-max-height: 30px;
$nav-mobile-max-height-expanded: 600px;
$hamburger-height: 2px;

$nav-indent: 24px;
$nav-sub-indent: 10px;

$header-margin-bottom: 34px;
$content-margin-top: 122px;
$content-h1-margin-bottom: 32px;
$nested-api-list-margin-top: 15px;
$coderay-line-number-margin: 10px;
$get-dust-mobile-margin-top: 15px;
$hamburger-margin-top: 5px;

$tagline-position-top: 35px;
$tagline-position-left: 300px;
$hamburger-span-top: 10px;

$content-padding: 34px;
$pre-padding: 15px;
$content-sub-section-padding: 15px;
$nav-handheld-vertical-padding: 15px;
$get-dust-mobile-padding: 10px;

$shadow-small-size: 3px;
$shadow-large-size: 5px;

$get-dust-mobile-radius: 2px;

$nav-mobile-expand-time: 0.2s;
$hamburger-transition-time: 0.2s;
