/////////////////
//Brand Colors //
/////////////////
$brand-blue: #00698c;
$brand-graphite: #323232;
$brand-light-graphite: #7f7f7f;
$brand-neutral: #dddddd;

////////////
//Shadows //
////////////
$light-shadow: #939393;
$dark-shadow: #343434;

///////////
//Mixins //
///////////
@mixin even-shadow($color, $size) {
  @include box-shadow($color 0 0 $size);
}

@mixin interior-shadow($color, $size) {
  @include box-shadow(inset 0 0 $size $color);
}