
#content {
  @include grid($content-columns, $offset: grid-offset($nav-columns + 1));
  @include even-shadow($light-shadow, $shadow-small-size);
  background: #FFF;
  padding: $content-padding;
  margin-top: $content-margin-top;

  h1, h2, p, pre {
    margin-bottom: $content-h1-margin-bottom;
  }

  p:last-child {
    margin-bottom: $content-h1-margin-bottom + 15px;
  }

  h1 {
    @include styleguide(xlarge headline);
    font-size: $headline-font-size;
  }

  h2 {
    @include styleguide(large headline);
    font-size: $subheadline-font-size;
  }

  h3 {
    font-size: $subheadline-font-size - 2;
    margin-bottom: $content-h1-margin-bottom;
    margin-top: $content-h1-margin-bottom/2;
    color: $brand-light-graphite;
  }

  h4 {
    font-size: $subheadline-font-size - 4;
    margin-bottom: $content-h1-margin-bottom - 8;
    margin-top: $content-h1-margin-bottom/2;
    color: $brand-light-graphite;
  }

  h1, h2 {
    @include sub-section-headline();
    color: $brand-graphite;
    padding-bottom: $content-sub-section-padding;
  }

  code {
      color: $brand-blue;
  }

  a {
    color: tint($brand-blue, 15);
    text-decoration: none;
  }

  pre {
    @include interior-shadow($light-shadow, $shadow-small-size);
    overflow-x: scroll;
    background: $brand-neutral;
    color: $brand-blue;
    padding: $pre-padding;
  }

  #parameters + ul > li > ul {
    @include interior-shadow($light-shadow, $shadow-small-size);
    background: $brand-neutral;
    padding: $content-sub-section-padding;
    margin-bottom: $content-h1-margin-bottom;
    margin-top: $content-h1-margin-bottom;

    & > li > ul {
      margin: $content-h1-margin-bottom 0px $content-h1-margin-bottom 0px;
      & > li {
        margin: $content-h1-margin-bottom/2 0px $content-h1-margin-bottom 0px;
        color: $brand-graphite;
        font-size: 16px;
        & > ul {
          padding: $content-sub-section-padding;
          margin-top: $nested-api-list-margin-top;
          background: tint($brand-neutral, 50%);
          color: $brand-graphite;
          font-size: 14px;
          & > li {
            color: $brand-light-graphite;
            margin-top: 10px;
            &:first-child {
              margin-top: 0px;
            }
            & > ul {
              padding-left: $content-sub-section-padding;
              color: $brand-graphite;
            }
          }
        }
      }
    }
  }

}