nav {
  @include even-shadow($dark-shadow, $shadow-large-size);
  width: $nav-width;
  height: 100%;
  background: $brand-graphite;
  position: fixed;
  padding: 0 $nav-indent;

  ul.main-nav {
    > li {
      line-height: 26px;
      margin-bottom: 1em;
      padding: 0;
      color: #999;
      cursor: default;

      a {
        @include styleguide(medium muted headline in a module, link in a module);
        color: #FFF;
      }

      li {
        padding-left: $nav-sub-indent;
      }

      label {
        color: tint($brand-light-graphite, 30%);
        cursor: pointer;

        &:hover {
          text-decoration: underline;

        }
      }

      &.sub {

        input {
          @include hide-element();

          &:checked ~ ul {
            display: block;

            li {
              padding-left: $nav-sub-indent;
            }
          }
        }

        ul {
          display: none;
        }
      }
    }
  }
}
