
#content {
  @include even-shadow($shadow-light, $shadow-small-size);
  background: #FFF;

  @include respond-to(screens) {
    float: left;
    margin-left: 297px;
    margin-right: 297px;
    position: relative;
    width: 728px;
    padding: $content-padding;
    margin-top: $content-margin-top;
  }
  @include respond-to(handhelds) {
    padding: $content-padding/2;
  }

  > h1, > h2, > h3, > p, > pre, > ul {
    margin: 1em 0;
    border: 0;
  }

  p {
    line-height: 26px;
  }

  p:last-child {
    @include respond-to(screens) {
      margin-bottom: $content-h1-margin-bottom + 15px;
    }
    @include respond-to(handhelds) {
      margin-bottom: $content-h1-margin-bottom;
    }
  }

  > h1 {
    margin: 0 0 1em;
    font-size: $headline-font-size;
  }

  > h2 {
    margin: 0;
    font-size: $subheadline-font-size;
  }

  > h3 {
    font-size: $subheadline-font-size - 2;
    color: darken($brand-blue, 5);
  }

  > h4 {
    font-size: $subheadline-font-size - 4;
    margin-bottom: $content-h1-margin-bottom - 8;
    margin-top: $content-h1-margin-bottom/2;
    color: $brand-light-graphite;
  }

  > h1, > h2 {
    @include sub-section-headline();
    color: $brand-graphite;
    padding-bottom: $content-sub-section-padding;
  }

  ul {
    margin-left: 20px;
  }
  li {
    margin: 0.5em 0;
  }

  code {
    color: $brand-blue;
  }

  p code,
  li code {
    background-color: $brand-neutral;
    padding: 4px;
    border-radius: 2px;
    box-shadow: inset 0 0 1px $shadow-light;
    white-space: nowrap;
    font-size: 75%;
    line-height: 20px;
    vertical-align: text-top;
  }

  a, a:visited {
    color: $brand-blue;
    text-decoration: none;
  }

  [id^=parameters] + ul {
    list-style: none;
    margin-left: 0;
    ul {
      list-style: none;
      margin-left: 0;
    }
    > li {
      > ul {
        @include interior-shadow($shadow-light, $shadow-small-size);
        list-style: none;
        background: $brand-neutral;
        padding: $content-sub-section-padding;
        margin-bottom: $content-h1-margin-bottom;
        margin-top: $content-h1-margin-bottom;
        & > li > ul {
          margin: $content-h1-margin-bottom 0px $content-h1-margin-bottom 0px;
          & > li {
            margin: $content-h1-margin-bottom/2 0px $content-h1-margin-bottom 0px;
            color: $brand-graphite;
            font-size: 16px;
            & > ul {
              padding: $content-sub-section-padding;
              margin-top: $nested-api-list-margin-top;
              background: tint($brand-neutral, 50%);
              color: $brand-graphite;
              font-size: 14px;
              & > li {
                color: $brand-light-graphite;
                margin-top: 10px;
                &:first-child {
                  margin-top: 0px;
                }
                & > ul {
                  padding-left: $content-sub-section-padding;
                  color: $brand-graphite;
                }
              }
            }
          }
        }
      }
    }
  }

}
