@font-face { font-family: "Dosis Light"; src: url('/styles/fonts/dosis-light-webfont.eot?1427825172'); src: url('/styles/fonts/dosis-light-webfont.eot?&1427825172#iefix') format('embedded-opentype'), url('/styles/fonts/dosis-light-webfont.woff?1427825172') format('woff'), url('/styles/fonts/dosis-light-webfont.ttf?1427825172') format('truetype'), url('/styles/fonts/dosis-light-webfont.svg?1427825172') format('svg'); }
.cmn-toggle-switch { background: none; display: block; position: relative; overflow: hidden; margin: 0; padding: 0; width: 30px; height: 30px; font-size: 0; text-indent: -9999px; -moz-appearance: none; -webkit-appearance: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; border: none; cursor: pointer; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
.cmn-toggle-switch:focus { outline: none; }
.cmn-toggle-switch > span { display: block; position: absolute; top: 10px; left: 1px; right: 1px; height: 2px; background: #fff; }
.cmn-toggle-switch > span:after, .cmn-toggle-switch > span:before { position: absolute; display: block; left: 0; width: 100%; height: 2px; background-color: #fff; content: ""; }
.cmn-toggle-switch > span:before { top: -10px; }
.cmn-toggle-switch > span:after { bottom: -10px; }

.cmn-toggle-switch__htx > span { -moz-transition: background 0.2s 0; -o-transition: background 0.2s 0; -webkit-transition: background 0.2s 0; transition: background 0.2s 0; }
.cmn-toggle-switch__htx > span:before, .cmn-toggle-switch__htx > span:after { -moz-transition-duration: 0.2s, 0.2s; -o-transition-duration: 0.2s, 0.2s; -webkit-transition-duration: 0.2s, 0.2s; transition-duration: 0.2s, 0.2s; -moz-transition-delay: 0.2s, 0; -o-transition-delay: 0.2s, 0; -webkit-transition-delay: 0.2s, 0; transition-delay: 0.2s, 0; }
.cmn-toggle-switch__htx > span:before { -moz-transition-property: top, -moz-transform; -o-transition-property: top, -o-transform; -webkit-transition-property: top, -webkit-transform; transition-property: top, transform; }
.cmn-toggle-switch__htx > span:after { -moz-transition-property: bottom, -moz-transform; -o-transition-property: bottom, -o-transform; -webkit-transition-property: bottom, -webkit-transform; transition-property: bottom, transform; }
.cmn-toggle-switch__htx.active > span { background: none; }
.cmn-toggle-switch__htx.active > span:before, .cmn-toggle-switch__htx.active > span:after { -moz-transition-delay: 0, 0.2s; -o-transition-delay: 0, 0.2s; -webkit-transition-delay: 0, 0.2s; transition-delay: 0, 0.2s; }
.cmn-toggle-switch__htx.active > span:before { top: 0; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.cmn-toggle-switch__htx.active > span:after { bottom: 0; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

nav { -moz-box-shadow: #343434 0 0 5px; -webkit-box-shadow: #343434 0 0 5px; box-shadow: #343434 0 0 5px; }
@media only screen and (min-width: 1024px) { nav { position: absolute; height: 100%; width: 205px; background: #323232; padding: 0 24px; } }
@media only screen and (max-width: 1024px) { nav { max-height: 30px; overflow: hidden; background: #323232; padding: 15px; transition: max-height 0.2s; }
  nav.expanded { max-height: 600px; } }
@media only screen and (max-width: 1024px) { nav #expand-mobile { float: right; margin-top: 5px; } }
@media only screen and (min-width: 1024px) { nav #expand-mobile { display: none; } }
nav ul.main-nav > li { line-height: 26px; margin-bottom: 1em; padding: 0; color: #999; cursor: default; }
nav ul.main-nav > li a { /* [archetype:styleguide:begin] --- `medium muted headline in a module, link in a module` --- */ font-size: 16px; font-weight: normal; line-height: 18px; color: #0088CC; text-decoration: none; /* [archetype:styleguide:end] --- `medium muted headline in a module, link in a module` --- */ color: #FFF; }
nav ul.main-nav > li a { /* [archetype:target-os:begin] --- default --- */ /* [archetype:target-os:end]   --- default --- */ }
nav ul.main-nav > li a.hover, nav ul.main-nav > li a:hover, nav ul.main-nav > li a.focus, nav ul.main-nav > li a:focus { text-decoration: underline; }
nav ul.main-nav > li li { padding-left: 10px; }
nav ul.main-nav > li label { color: #a5a5a5; cursor: pointer; }
nav ul.main-nav > li label:hover { text-decoration: underline; }
nav ul.main-nav > li.sub input { position: absolute !important; height: 1px; width: 1px; overflow: hidden; /* [archetype:target:browser:begin] --- ie lte 7 --- */ _clip: rect(1px 1px 1px 1px); /* [archetype:target:browser:end]   --- ie lte 7 --- */ clip: rect(1px, 1px, 1px, 1px); }
.ie.lte7 nav ul.main-nav > li.sub input { /* [archetype:target:browser:begin] --- ie lte 7 --- */ /* [archetype:target:browser:end]   --- ie lte 7 --- */ }
nav ul.main-nav > li.sub input:checked ~ ul { display: block; }
nav ul.main-nav > li.sub input:checked ~ ul li { padding-left: 10px; }
nav ul.main-nav > li.sub ul { display: none; }

header h1 { font-family: "Dosis Light"; font-size: 48px; line-height: 50px; }
@media only screen and (min-width: 1024px) { header h1 { margin: 34px 0; padding: 0; } }
@media only screen and (max-width: 1024px) { header h1 { display: none; } }
header h1 a, header h1 a:visited { color: #FFF; text-decoration: none; }
header h2.tagline { font-family: "Dosis Light"; font-size: 32px; }
@media only screen and (min-width: 1024px) { header h2.tagline { position: absolute; width: 796px; top: 35px; left: 300px; line-height: 48px; color: #323232; } }
@media only screen and (max-width: 1024px) { header h2.tagline { line-height: 32px; margin-bottom: 17px; color: white; } }

#content { -moz-box-shadow: #939393 0 0 3px; -webkit-box-shadow: #939393 0 0 3px; box-shadow: #939393 0 0 3px; background: #FFF; }
@media only screen and (min-width: 1024px) { #content { margin-left: 10px; float: left; margin-left: 297px; margin-right: 297px; *zoom: 1; position: relative; width: 728px; padding: 34px; margin-top: 122px; } }
@media only screen and (max-width: 1024px) { #content { padding: 17px; } }
#content > h1, #content > h2, #content > p, #content > pre, #content > ul { margin-bottom: 32px; }
#content p { line-height: 26px; }
@media only screen and (min-width: 1024px) { #content p:last-child { margin-bottom: 47px; } }
@media only screen and (max-width: 1024px) { #content p:last-child { margin-bottom: 32px; } }
#content > h1 { /* [archetype:styleguide:begin] --- `xlarge headline` --- */ font-size: 22px; font-weight: bold; line-height: 24px; color: black; /* [archetype:styleguide:end] --- `xlarge headline` --- */ font-size: 28px; }
#content > h1 { /* [archetype:target-os:begin] --- default --- */ /* [archetype:target-os:end]   --- default --- */ }
#content > h2 { /* [archetype:styleguide:begin] --- `large headline` --- */ font-size: 18px; font-weight: bold; line-height: 22px; color: black; /* [archetype:styleguide:end] --- `large headline` --- */ font-size: 20px; }
#content > h2 { /* [archetype:target-os:begin] --- default --- */ /* [archetype:target-os:end]   --- default --- */ }
#content > h3 { font-size: 18px; margin-bottom: 32px; margin-top: 16px; color: #7f7f7f; }
#content > h4 { font-size: 16px; margin-bottom: 24px; margin-top: 16px; color: #7f7f7f; }
#content > h1, #content > h2 { border-bottom-width: 3px; border-style: solid; border-color: #7f7f7f; color: #323232; padding-bottom: 15px; }
#content ul { margin-left: 20px; }
#content li { margin-bottom: 1em; }
#content code { color: #00698c; }
#content p code, #content li code { background-color: #dddddd; padding: 4px 8px; border-radius: 2px; -moz-box-shadow: inset 0 0 3px #939393; -webkit-box-shadow: inset 0 0 3px #939393; box-shadow: inset 0 0 3px #939393; white-space: nowrap; }
#content a { color: #267f9d; text-decoration: none; }
#content > pre { -moz-box-shadow: inset 0 0 3px #939393; -webkit-box-shadow: inset 0 0 3px #939393; box-shadow: inset 0 0 3px #939393; overflow-x: auto; background: #dddddd; color: #00698c; padding: 15px; }
#content > .highlighter-coderay { margin-bottom: 32px; }
#content > .highlighter-coderay > .CodeRay > .code { -moz-box-shadow: inset 0 0 3px #939393; -webkit-box-shadow: inset 0 0 3px #939393; box-shadow: inset 0 0 3px #939393; overflow-x: auto; padding: 15px; background: #dddddd; }
#content > .highlighter-coderay > .CodeRay > .code > pre > span.line-numbers > a { margin-right: 10px; color: #787878; }
#content #parameters + ul { list-style: none; margin-left: 0; }
#content #parameters + ul ul { list-style: none; margin-left: 0; }
#content #parameters + ul > li > ul { -moz-box-shadow: inset 0 0 3px #939393; -webkit-box-shadow: inset 0 0 3px #939393; box-shadow: inset 0 0 3px #939393; list-style: none; background: #dddddd; padding: 15px; margin-bottom: 32px; margin-top: 32px; }
#content #parameters + ul > li > ul > li > ul { margin: 32px 0px 32px 0px; }
#content #parameters + ul > li > ul > li > ul > li { margin: 16px 0px 32px 0px; color: #323232; font-size: 16px; }
#content #parameters + ul > li > ul > li > ul > li > ul { padding: 15px; margin-top: 15px; background: #eeeeee; color: #323232; font-size: 14px; }
#content #parameters + ul > li > ul > li > ul > li > ul > li { color: #7f7f7f; margin-top: 10px; }
#content #parameters + ul > li > ul > li > ul > li > ul > li:first-child { margin-top: 0px; }
#content #parameters + ul > li > ul > li > ul > li > ul > li > ul { padding-left: 15px; color: #323232; }

hr { margin: 0; }

footer { font-family: "Dosis Light"; padding: 34px; text-align: center; }

#forkongithub { position: fixed; top: 0; right: 0; width: 200px; overflow: hidden; height: 200px; z-index: 9999; }

#forkongithub a { background: #323232; color: #fff; text-decoration: none; font-family: arial,sans-serif; text-align: center; font-weight: bold; padding: 5px 40px; font-size: 1rem; line-height: 2rem; width: 200px; position: absolute; top: 60px; right: -60px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); border-top: 1px solid #FFF; border-bottom: 1px solid #FFF; }

@media screen and (max-width: 1024px) { #forkongithub { display: none; } }
body { /* [archetype:styleguide:begin] --- `large copy` --- */ font-size: 16px; line-height: 20px; color: #222222; font-weight: normal; /* [archetype:styleguide:end] --- `large copy` --- */ background: #dddddd; font-family: 'Roboto', sans-serif; }

#body { position: relative; overflow: hidden; }
